{% extends 'base.html.twig' %}

{% block title %} Calcul de factorielle et combinason{% endblock %}

{% block body %}
<form action="beep" method="get">
    <label for="nf">Factorielle: </label>
    <input type="number" name="nf" id="factn"/>

    <label for="n">Combinaison de n éléments: </label>
    <input type="number" name="n" id="combin"/>

    <label for="p">pris à k: </label>
    <input type="number" name="p" id="combik"/>

    <input type="submit" value="calcul">
</form>
{% if cmp != 0 %}
<h1>
Résultat
</h1>
{{ string }}<br>
<a href="\beep">Reset</a>
{% else %} Entrez des valeurs.
{% endif %}

{% endblock %}